
<div class="container">
  <div class="form-title">

    <% if @meal_type.name.downcase == "encas" || @meal_type.name.downcase == "apéritif" %>
      <h1>Ajouter un plat pour l'<%= @meal_type.name.downcase %> du <%= @day.date.strftime("%d/%m/%Y") %> </h1>
    <% else %>
      <h1>Ajouter un plat pour le <%= @meal_type.name.downcase %> du <%= @day.date.strftime("%d/%m/%Y") %> </h1>
    <% end %>

  </div>

  <%= simple_form_for [@day, @meal, @meal_ingredient] do |f| %>
    <%= f.input :ingredient_id, collection: Ingredient.all, label: 'Plat', input_html: { class: 'select2' } %>
    <%= f.input :quantity, label: 'Quantité (en gramme)', required: true %>
      <div class="form-buttons">
        <%= link_to "Annuler", :back, class: "btn btn-danger btn-annuler" %>
        <%= f.submit "Ajouter", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
