<div class="container form-container">

  <div class="form-title">
    <h1>Editer ce pooh</h1>
  </div>

  <%= simple_form_for [ @day, @pooh ] do |f| %>
    <%= f.input :blood, label: "Sang" %>
    <%= f.input :rate, collection: 0..10, label: "Consistance", hint: "Notez la consistance de 0 (liquide) à 10 (solide)" %>
      <div class="form-buttons">
      <%= link_to "Annuler", :back, class: "btn btn-danger btn-annuler" %>
      <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
