<div class="container form-container">
  <div class="form-title">
    <% if @day.date == Date.today %>
      <h1>Ajouter un pooh</h1>
    <% else %>
      <h1>Ajouter un pooh pour le <%= @day.date.strftime("%d/%m/%Y") %></h1>
    <% end %>
  </div>

  <%= simple_form_for [ @day, @pooh ] do |f| %>
  <%= f.input :rate, collection: 0..10, label: "Consistance", hint: "Notez la consistance de 0 (liquide) à 10 (solide)" %>
  <%= f.input :blood, label: "Sang" %>
  <div class="form-buttons">
    <%= f.submit "Ajouter un pooh à ma journée", class: "btn btn-primary" %>
    <%= link_to "Annuler", :back, class: "btn btn-danger btn-annuler" %>
  </div>
  <% end %>
</div>
