<div class="slice-today-item item-days">
  <div class="slice-today-item-head">
    <i class="fa-solid fa-calendar-day slice-logo"></i>
  </div>
  <%= month_calendar do |date| %>
    <% if date > Date.today %>
      <%= date.day %>
    <% else %>
      <% if Day.find_by_date(date) %>
        <% day = Day.find_by_date(date) %>
        <% link_to day_path(day.id) do %>
          <% if @day.date == date %>
            <div class="day-created day-today">
              <%= date.day %>
            </div>
          <% else %>
            <div class="day-created">
              <%= date.day %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% if @day.date == date %>
          <div class="day-not-created day-today" data-date=<%= date %> >
            <%= date.day %>
          </div>
        <% else %>
          <div class="day-not-created" data-date=<%= date %>>
            <%= date.day %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
