<div id="home-container">
  <div class="home-slice slice-today">
    <% if @day.date == Date.today %>
      <h3>Aujourd'hui</h3>
    <% end %>
    <h2><%= @day.date.strftime("%d/%m/%Y") %></h2>
    <div class="slice-today-container">
      <%= render 'shared/state' %>
      <%= render 'shared/pooh' %>
    </div>
    <div class="slice-today-item">
      <%= render 'shared/meal' %>
    </div>
    <%= link_to "Voir mes journées", days_path %>
    <%= link_to "Créer une nouvelle journée", new_day_path %>
    <br/>
  </div>
  <div class="home-slice slice-total">
    <%= render 'shared/total' %>
    <%= link_to "Valeurs à suivre", new_user_preference_path %>
  </div>
  <div class="home-slice slice-graph">
    <%= link_to "Graphique", chart_path %>
  </div>
</div>
