<div id="home-container">
  <div class="home-slice slice-today">
    <% if @day.date == Date.today %>
      <h4>Aujourd'hui</h4>
    <% else %>
      <h4>Journée du</h4>
    <% end %>
    <h3><%= @day.date.strftime("%d/%m/%Y") %></h3>
    <div class="slice-today-double-container">
      <%= render 'shared/state' %>
      <%= render 'shared/pooh' %>
    </div>
      <%= render 'shared/meal' %>
      <%= render 'shared/calendar' %>
  </div>
  <div class="home-slice slice-total">
    <%= render 'shared/total' %>
  </div>
  <div class="home-slice slice-graph">
    <%= render 'shared/graph' %>
  </div>

</div>

<div class="shadow">
  <div class="new_day_modal">
    <div class="container">
      <div class="form-title modal-title">
      </div>

      <div class="form-buttons">
        <%= link_to "Retour", :back, class: "btn btn-danger btn-annuler" %>
        <%= link_to "Créer cette journée", days_path(@day.date), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
