<div id="home-container">
  <div class="home-slice slice-today">
    <% if @day.date == Date.today %>
      <h4>Aujourd'hui</h4>
    <% end %>
    <h3><%= @day.date.strftime("%d/%m/%Y") %></h3>
    <div class="slice-today-double-container">
      <%= render 'shared/state' %>
      <%= render 'shared/pooh' %>
    </div>
      <%= render 'shared/meal' %>
      <%= render 'shared/day_selection' %>
  </div>
  <div class="home-slice slice-total">
    <%= render 'shared/total' %>
    <%= link_to "Valeurs à suivre", new_user_preference_path %>
  </div>
  <div class="home-slice slice-graph">
    <%= link_to "Graphique", chart_path %>
  </div>
</div>
