<div class="slice-today-item item-state">
  <div class="slice-today-item-head">
    <i class="fa-solid fa-poo slice-logo"></i>
    <%= link_to new_day_pooh_path(@day.id) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
    <% if @day.date.today? %>
      <h6><%= @day.pooh.count %> <%= 'pooh'.pluralize(@day.pooh.count + 1) %> aujourd'hui</h6>
    <% else %>
      <h6><%= @day.pooh.count %> <%= 'pooh'.pluralize(@day.pooh.count + 1) %> pour cette journée</h6>
    <% end %>
  <div class="slice-today-item-bottom">
    <% if @day.pain_rate %>
      <% @day.pooh.each do |pooh| %>
        <% if pooh.blood %>
          <%= link_to day_pooh_path(@day.id, pooh.id) do %>
            <i class="fas fa-circle red-circle"><%= pooh.rate %></i>
          <% end %>
        <% else %>
          <%= link_to day_pooh_path(@day.id, pooh.id) do %>
            <i class="fas fa-circle green-circle"><%= pooh.rate %></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
