<div class="slice-today-item item-state">
  <div class="slice-today-item-head">
    <i class="fa-solid fa-poo slice-logo"></i>
    <%= link_to new_day_pooh_path(@day.id) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
    <% if @day.date.today? %>
      <h6><%= @day.pooh.count %> <%= 'pooh'.pluralize(@day.pooh.count + 1) %> aujourd'hui</h6>
    <% else %>
      <h6><%= @day.pooh.count %> <%= 'pooh'.pluralize(@day.pooh.count + 1) %> pour cette journée</h6>
    <% end %>
  <div class="slice-today-item-bottom">
    <div class="pooh-list">
      <% if @day.pooh %>
        <% @day.pooh.each do |pooh| %>
          <% if pooh.blood %>
            <%= link_to day_pooh_path(@day.id, pooh.id) do %>
            <div class="pooh-container pooh-blood-container">
              <h4 class="pooh-blood"><%= pooh.rate %><h4>
            </div>
            <% end %>
          <% else %>
            <%= link_to day_pooh_path(@day.id, pooh.id) do %>
            <div class="pooh-container pooh-no-blood-container">
              <h4 class="pooh-no-blood"><%= pooh.rate %><h4>
            </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
