<div class="container form-container">

  <div class="form-title">
    <% if @day.date == Date.today %>
      <h1>Comment te sens-tu aujourd'hui?</h1>
    <% else %>
      <h1>Comment te sentais-tu le <%= @day.date.strftime("%d/%m/%Y") %> ?</h1>
    <% end %>
  </div>

  <%= simple_form_for @day do |f| %>
    <%= f.input :pain_rate, collection: 0..10, label:"Douleurs", hint:"0: aucune douleur, 10: douleurs intenses" %>
    <%= f.input :comment, label:"Commentaire", hint:"120 caractères maximum" %>
    <div class="form-buttons">
    <%= link_to "Annuler", :back, class: "btn btn-danger btn-annuler" %>
    <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
