<h1><%= @meal.type %> du <%= @meal.date.strftime("%d %A %Y") %></h1>

<%= link_to "Ajouter un plat", new_day_meal_meal_ingredient_path(@meal.day.id, @meal.id) %>

<br/>

<% @meal.ingredients.each do |ingredient| %>
  <br/>
    <%= link_to ingredient.name, day_meal_ingredient_path(@day.id, @meal.id, ingredient.id) %>
    <% meal_ingredient = ingredient.meal_ingredients.find_by_meal_id(@meal.id) %>
    <%= meal_ingredient.quantity.round %>g
    <%= link_to day_meal_meal_ingredient_path(@day.id, @meal.id, ingredient.id), method: :delete do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
<% end %>
