<h1>Gérer mes valeurs à suivre</h1>

<%= simple_form_for @user_preference do |f| %>
  <%= f.input :preference, collection:@preferences, label:'Préférences', required: true, hint: 'Choississez une ou plusieurs nouvelle(s) valeur(s)', input_html: { class: 'select2', multiple: true }  %>
  <%= f.submit "Ajouter", class: "btn btn-primary" %>
<% end %>

<ul>
<% current_user.preferences.each do |preference| %>
  <li><%= preference.name %>
      <%= link_to user_preference_path(preference.id), method: :delete do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
  </li>
<% end %>
</ul>
